<br />

<div class="col-10 offset-1 about">
  <h1>Team</h1>
  <br />
  <p>
    Flixter was built by <a target="_blank" href="https://kaylanicolette.netlify.com/">Kayla</a>, a professional full-stack web developer.
  </p>
  <br />

 <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Kayla Anderson</h2>
      <br />
      <p>
        Kayla Anderson graduated from Vanderbilt University's Coding Bootcamp. With a passion for creating and a knack for problem solving, she excels in the world of web development.
      </p>
    </div>
  </div>
  <br class="clear" />

</div>